out/
runs/
ip/
*.backup
vivado.txt
*.jou
.vscode/
*.log
*.bak
tmp_*
project_1_def_val.txt
project_1_dump.txt
harness_axi_ip
harness_axi_proj
*.str
*.out
src/axi_lite/harness_axi_ip_v1_0_S00_AXI_part2.v
src/axi_lite/harness_axi_ip_v1_0_S00_AXI.v
docs/*.jpeg
docs/*.png